.btn{
    &-open-modal{
        display: block;
        border: 0;
        cursor: pointer;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
        background-color: #005cbf;
        color: white;
        transition: 0.5s all;
        &:hover{
            color: #005cbf;
            background-color: #fff;
         }
         &:active{
         transform: scale(0.9);
        }
       
    }
    &-secondary{
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border: 0;
        @include mobile {
            padding: 0.5rem 0.5rem;
        }
    }
    &-primary{
        &:hover{
            color: #005cbf !important;
            background-color: #fff !important;
         }
         &:active{
            transform: scale(0.9);
        }
    }
    &s{
        position: fixed;
        bottom: 10px;
        display: flex;
        justify-content: center;    
        align-items: center;
        width: 100%;
        gap: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 12;
        transition: 0.5s all;
        @include mini-tablet{
            flex-direction: column;
            align-items: flex-end;
        }
        @include mini-tablet{
            width: auto;
            align-items: center;
            flex-direction: row;
        }
    }
}