@mixin modal{
    transition: 0.3s all;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50%;
    text-align: center;
    z-index: 13;
    @include hiddenElem;
    position: fixed;
}
@mixin flex-v-center{
    justify-content: center;
    align-items: center;
    display: flex;
}
@mixin hiddenElem{
    opacity: 0;
    visibility: hidden;
}
@mixin visibleElem{
    opacity: 1;
    visibility: visible;
}