.task{
    &-title {
        font-weight: 400;
        word-break:break-all;
        cursor: pointer;
        transition: 0.9s all;
        border-radius: 0.25rem;
        padding: 10px;
        text-align: center;
        @include mobile {
            padding: 5px;
            padding-right: 10px;
        }
        &:hover{
            outline: 1px solid #005cbf;
        }
    }
    &-item{
        button{
            height: 40px;
        }
    }
}