.header{
    @include flex-center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 150px;
    position: relative;
    &__content{
        font-size: 50px;
        position: absolute;
        bottom: -90px;
    }
}