@media (max-width: 992px) {
    .header{
        gap: 10px;
    }
}
@media (max-width: 768px) {
    .calculator__inputs{
        width: 375px;
    }
}
@media (max-width: 576px) {
    .header{
        flex-direction: column;
    }
    .calculator__title{
        margin: 15px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
@media (max-width: 420px) {
    .calculator{
        &__inputs{
            width: 90%;
        }
    }
    .calculator{
        &__btn{
            width: 271.5px;
        }
    }
        
}